{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
    About
{% endblock %}

{% block content_header %}
 About UniBind
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">About</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8 col-lg-8 col-xs-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">What is UniBind?</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        </div>
      <!-- /.box-header -->
      <div class="box-body">

        {% include "portal/summary.html" %}

        <p>The data can be searched using the case insensitive search option
        available on the homepage. The database can be searched for TF name,
        cell/tissue type, species, data source and collection using the
        ‘Advanced Options’, available on the homepage. Search results are
        presented in a responsive and paginated table along with metadata
        information, which can be clicked to view the detail information and
        download TFBSs, summary plots, and ChIP-seq peaks. All the metadata in
        the responsive tables can be downloaded as CSV files.</p>

        <p>The UniBind web interface was developed in Python using the
        model-view-controller framework Django. It uses SQLite to store TFBS
        metadata and Bootstrap as the frontend template engine. The source
        code is available at
        
        <a href="https://bitbucket.org/CBGR/unibind"
           target="_blank">https://bitbucket.org/CBGR/unibind</a>.</p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-4 col-lg-4 col-xs-12">

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Statistics</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{ datasets }}</h3>

                <p>ChIP-seq datasets</p>
              </div>
              <div class="icon">
                <i class="fas fa-database"></i>
              </div>
               <!--
              <a href="/search?q=" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{ cell_lines|length }}</h3>

                <p>Cell lines &amp; Tissues</p>
              </div>
              <div class="icon">
                <i class="fas fa-heart"></i>
              </div>
              <!--
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{ tf_count }}</h3>

                <p>Transcription Factors</p>
              </div>
              <div class="icon">
                <i class="fas fa-link"></i>
              </div>
               <!--
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            -->
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-xs-12">

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Source code availability</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>ChIP-eat</h3>

                <p>The data processing pipeline</p>
              </div>
              <div class="icon">
                <i class="fas fa-sitemap"></i>
              </div>
               
              <a href="https://bitbucket.org/CBGR/chip-eat" target="_blank" class="small-box-footer">
                Get the source code  <i class="fab fa-bitbucket"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>UniBind</h3>

                <p>The source code for UniBind portal</p>
              </div>
              <div class="icon">
                <i class="fas fa-code"></i>
              </div>
               
              <a href="https://bitbucket.org/CBGR/unibind" target="_blank" class="small-box-footer">
                Get the source code  <i class="fab fa-bitbucket"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-orange">
              <div class="inner">
                <h3>Enrichment</h3>

                <p>The source code for the UniBind enrichment tool</p>
              </div>
              <div class="icon">
                <i class="fas fa-code"></i>
              </div>

              <a href="https://bitbucket.org/CBGR/unibind_enrichment" target="_blank" class="small-box-footer">
                Get the source code  <i class="fab fa-bitbucket"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

{% endblock %}
