{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- for Twitter -->  
  {% block twitter %}        
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@khanaziz84" />
  <meta name="twitter:creator" content="@khanaziz84" />
  <meta name="twitter:title" content="UniBind - A map of direct TF-DNA interactions across species" />
  <meta name="twitter:url" content="https://{{ request.get_host }}" />
  <meta name="twitter:description" content="UniBind is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the ChIP-eat software." />
  {% endblock %}
  <!-- for Facebook -->  
  {% block facebook %}        
  <meta property="og:title" content="UniBind - A map of direct TF-DNA interactions across species" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://{{ request.get_host }}" />
  <meta property="og:description" content="UniBind is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the ChIP-eat software." />
  {% endblock %}

  <meta name="description" content="UniBind is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the ChIP-eat software.."/>
  <meta name="keywords" content="ChIP-seq, transcription factor, TFBS, TFs, TF binding, PWM, TFFM, Position Weight Matrices, PSSMs, DNAShape, DiMO"/>

  <title>UniBind -{% block title %}{% endblock %} </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  {% block meta %}{% endblock meta %}

  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="jrAF8l_8xuDi-pLgQ7U8YeG7S3ZJ_jaFNYbR2fKMuLg" />

  <!-- Academicons -->
  <link rel="stylesheet" href="{% static 'academicons-1.9.0/css/academicons.min.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'fontawesome-free-5.13.0-web/css/all.min.css' %}">

  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
  <!-- hopscotch -->
  <link rel="stylesheet" href="{% static 'plugins/hopscotch/css/hopscotch.min.css' %}">

  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">

   <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/skins/skin-black-light.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{% static 'html5shiv-3.7.3-dist/html5shiv.min.js' %}"></script>
  <script src="{% static 'Respond-1.4.2-dest/respond.min.js' %}"></script>
  <![endif]-->

  {% block stylesheets %}

  {% endblock %}

</head>

<body class="hold-transition skin-black-light fixed layout-top-nav">
<div class="wrapper">

{% include "portal/header.html" %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "UniBind",
  "url": "https://{{ request.get_host }}",
  "citation": "",
  "license": "CC BY 4.0",
  "description": "UniBind is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the ChIP-eat software.",
  "version": "2018",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://{{ request.get_host }}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- Left side column. contains the logo and sidebar -->
   
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      {% block main_header %}
      <section class="content-header">
        <h1>
          {% block content_header %}{% endblock %}
        </h1>
        <ol class="breadcrumb">
          {% block breadcrumb %}{% endblock %}
        </ol>
      </section>
      {% endblock %}

      <!-- Main content -->
      <section class="content">

      {% block content %}{% endblock %}

      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  {% include "portal/footer.html" %}

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
<!-- hopscotch -->
<script src="{% static 'plugins/hopscotch/js/hopscotch.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>

<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>


<!-- AdminLTE App -->
<script src="{% static 'js/app.min.js' %}"></script>

{% block datatable %} {% endblock %}

<script type="text/javascript">

$('#selectAllProfiles').click (function () {
     var checkedStatus = this.checked;
    $('#search_table tbody tr').find('td:last :checkbox').each(function () {
        $(this).prop('checked', checkedStatus);
     });
});

  //Popover
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        //placement : 'top',
        trigger : 'hover'
    });
});

    
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });


      $('#check-all').on('ifChecked', function(event) {
          $('.flat-red').iCheck('check');
      });
      $('#check-all').on('ifUnchecked', function(event) {
          $('.flat-red').iCheck('uncheck');
      });
      // Removed the checked state from "All" if any checkbox is unchecked
      $('#check-all').on('ifChanged', function(event){
          if(!this.changed) {
              this.changed=true;
              $('#check-all').iCheck('check');
          } else {
              this.changed=false;
              $('#check-all').iCheck('uncheck');
          }
          $('#check-all').iCheck('update');
      });

  </script>

{% block javascript %}{% endblock %}

{% include "portal/analytics.html" %}

</body>
</html>
