{% load bootstrap %}

{% block stylesheets %}
  <style type="text/css">

    /* Cell line choices. */

    ul#id_cell_line_id {
      /* Restrict to a limited area of the page. */
      height: 20em;
      overflow: scroll;
      /* Remove the indentation. */
      padding-left: 0;
    }

    ul#id_cell_line_id li {
      /* Hide list decorations. */
      list-style-type: none;
    }
  </style>
{% endblock %}

<!-- An appropriate form element must be active for this content. -->

<p>Use the search field below to restrict the cell lines shown.
Clearing the field <i class="fas fa-backspace"></i> will show all
relevant cell lines again.</p>

<input name="filtering" type="hidden" value="true"/>

<div class="form-group">
  <div class="input-group">
    <input class="form-control" name="title_search" type="text"
           placeholder="Search cell lines..." value="{{ form.data.title_search }}"/>

    <span class="input-group-btn">
      <button formnovalidate type="submit" class="btn btn-default"
              name="filter" id="filter"
              value="true">Search <i class="fas fa-search"></i></button>

      {% if form.data.title_search %}

      <button formnovalidate type="submit" class="btn btn-default"
              name="revert" id="revert" value="true">
        <i class="fas fa-backspace"></i>
      </button>

      {% endif %}
    </span>
  </div>
</div>

{{ form.cell_line_id | bootstrap }}

{% if too_many_cell_lines %}

<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Too many cell lines were chosen for filtering to be applied. Please reduce
  the number of selected cell lines to filter the results. Sorry!
</div>

{% endif %}

<p>Select cell lines from the list above to change the filtering applied.</p>

<div class="form-group">
  {% if not restrict or restrict != "true" %}

  <button formnovalidate type="submit" class="btn btn-default"
          name="select_all" id="select_all" value="true">
    <i class="fas fa-check-double"></i> Select all from list</button>

  {% endif %}

  <button formnovalidate type="submit" class="btn btn-default"
          name="clear_all" id="clear_all" value="true">
    <i class="fas fa-times"></i> Clear all from selection</button>
</div>
