{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
 Changelog
{% endblock %}

{% block content_header %}
 UniBind Changelog
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Changelog</li>
{% endblock %}

{% block content %}

    <div class="row">
            
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"> <i class="fas fa-history"></i> UniBind Changelog</h3>
               <div class="box-tools pull-right">

              </div>

              </div>
            <!-- /.box-header -->
            <div class="box-body">
	      <h3>May 25, 2022</h3>
	      <p>

	        <b>Genome track hubs update:</b> We detected an issue with the TFBS 
track hubs where some TFBSs were one nucleotide shorter than the length of the profile
used to find them. Please note that this issue affected only the track hubs. The issue did not impact
TFBS files available for download either through a dataset's page or through the bulk downloads.
	      </p>

               <h3>July 17, 2019</h3>
                <p>
               1. The computational model scores for each TFBS are now added in the BED
files as the 5th column.</p>
 <p>
2. Bug fix: for the BEM model, non-DiMO-optimized PWMs were used, which
is now fixed and the corresponding files were updated.</p>
 <p>
3. For some data sets, the enrichment zone heatmap plots failed due to
errors in the bandwidth calculation and consequently the other plots
failed for that data set. Where possible, this error was fixed, if not
the text "Not available" is present instead of the plot(s). </p>


             <h3>April 28, 2019</h3>
              <p>
                Duplicated entries removed from the BED files and the FASTA files.
Some of the datasets presented a few number of duplicates due to the
close proximity of detected MACS2 peaks. Even if treated as individual
peaks, in some cases the top scoring TFBS sequence was the same,
resulting in duplicated entries.
              </p>

              <h3>April 04, 2019</h3>
              <p>
              1. The OCT4 entries were renamed to POU5F1 due to the change in gene
naming, more explicitly the GSE17917.OCT4.ESC, GSE200650.OCT4.ESC, and
GSE21614.OCT4.BGO3
<br><br>
2. All the file names and folders have been renamed to follow a uniform
format: <br><code>
[dataset_id].[cell_type]_[condition(s)].[TF_name].[jaspar_id].[jaspar_version].[computational_model].[extension] </code>
<br>For example:<code> GSE83860.LNCAP_dht_tnfa.FOXA1.MA0148.3.pwm.bed</code>

</p>

              <h3>January 31, 2019</h3>
              <p>

                <b>Bulk download modification:</b> The TFBS BED and FASTA files
available for bulk download now contain the PFM ID in the file name. For
the transcription factors that have PFM variants (e.g.,TFAP2C, JUND),
the files are no longer concatenated and the duplicates removed, but for
each variant there is an individual file. Example file name:
<code>
dataset_cellline_tf_name_pfm_id.bed
</code>

              </p>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>







    </div>

{% endblock %}
