<p>R. Riudavets Puig, P. Boddie, A. Khan, J.A. Castro Mondragon, A. Mathelier,
<br><b><a href="https://doi.org/10.1186/s12864-021-07760-6"
          target="_blank">UniBind: maps of high-confidence direct TF-DNA interactions across nine species.</a></b>
<em>BMC Genomics</em> <b>22</b>, 482 (2021).
<a href="https://doi.org/10.1186/s12864-021-07760-6" target="_blank">https://doi.org/10.1186/s12864-021-07760-6</a>.</p>

<p>M. Gheorghe, G.K. Sandve, A. Khan, J. Cheneby, B. Ballester, and A. Mathelier,
<br><b><a href="https://academic.oup.com/nar/article/47/4/e21/5229207"
          target="_blank">A map of direct TF-DNA interactions in the human genome.</a></b>
<em>Nucleic Acids Research</em> (2019) gky1210
<a href="https://doi.org/10.1093/nar/gky1210" target="_blank">https://doi.org/10.1093/nar/gky1210</a>.</p>
