{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Contact us
{% endblock %}

{% block content_header %}
 Contact Us
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Contact us</li>
{% endblock %}

{% block content %}

    <div class="row">
            
        <div class="col-md-12">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fas fa-envelope"> </i> Correspondence</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <p>We appreciate feedback, criticism as well as suggestions. If
              you would like to make an enquiry or provide your feedback,
              please contact us and we will get back to you soon. Thank
              you.</p>

              <hr>

              <p>For questions related to UniBind, please contact:</p>

              <ul>
                <li><b><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a></b>: anthony.mathelier AT ncmm.uio.no</li>
              </ul>

              <hr>

              <p>For questions related to the ChIP-eat pipeline, please contact:</p>

              <ul>
                <li><b><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a></b>: anthony.mathelier AT ncmm.uio.no</li>
                <li><b><a href="https://mathelierlab.com/people" target="_blank">Rafael Riudavets Puig</a></b>: r.r.puig AT ncmm.uio.no</li>
              </ul>

              <hr>

              <p>For questions related to the web interface, please contact:</p>

              <ul>
                <li><b><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a></b>: anthony.mathelier AT ncmm.uio.no</li>
                <li><b><a href="https://mathelierlab.com/people" target="_blank">Paul Boddie</a></b>: paul.boddie AT ncmm.uio.no</li>
              </ul>

              <hr>

              <p>For questions related to the enrichment tool, please contact:</p>

              <ul>
                <li><b><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a></b>: anthony.mathelier AT ncmm.uio.no</li>
                <li><b><a href="https://mathelierlab.com/people" target="_blank">Rafael Riudavets Puig</a></b>: r.r.puig AT ncmm.uio.no</li>
              </ul>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

    </div>

{% endblock %}
