{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Download data
{% endblock %}

{% block content_header %}
 Download data
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Downloads</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h4><i class="fas fa-download"> </i> Download TFBSs and cis-regulatory modules (CRMs)</h4>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

          {% for collection in collections %}

          <h4><i class="fas fa-database"> </i> {{ collection.name }} collection</h4>

          <div class="panel panel-default">
            <div class="panel-heading">Species</div>
            <div class="panel-body">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="tfbs_organismTabs">
                  {% for organism in collection.organisms %}
                  <li class="{% if forloop.counter == 1 %} active {% endif %}">
                    <a href="#tfbs_{{ collection.name }}_{{ organism.id }}" data-toggle="tab">{{ organism.name }}</a>
                  </li>
                  {% endfor %}
                </ul>

                <div class="tab-content">

                  {% for organism in collection.organisms %}

                  <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                       id="tfbs_{{ collection.name }}_{{ organism.id }}">

                    <!-- Show any downloads for the collection and organism. -->

                    {% if organism.downloads %}

                    <p>
                      Download cis-regulatory modules (CRMs) for
                      {% if organism.genome %}
                      species <b>{{ organism.name }}</b>
                      {% else %}
                      <b>all species</b>
                      {% endif %}
                      in the <b>{{ collection.name }}</b> collection
                    </p>

                    <div class="list-group">
                      {% for download in organism.downloads %}

		      <a class="list-group-item list-group-item-info" href="{% static "" %}data/{{ data_tag }}/bulk_{{ collection.name }}/{{ organism.filename }}/{{ organism.genome_prefix }}{{ download.basename }}.{% if download.suffix == "bed" %}{{ organism.bed_suffix }}{% elif download.suffix == "compressed_bed" %}{{ organism.compressed_bed_suffix }}{% else %}{{ organism.suffix }}{% endif %}">
                        <i class="fas fa-download"> </i> {{ download.label }}</a>

                      {% endfor %}
                    </div>

                    {% endif %}

                    <!-- Show relevant downloads for the collection, organism and model. -->

                    <div class="panel panel-default">
                      <div class="panel-heading">Prediction models</div>
                      <div class="panel-body">
                        <div class="nav-tabs-custom">

                          <ul class="nav nav-tabs" id="tfbs_modelTabs_{{ organism.id }}">
                            {% for model in organism.models %}
                            <li class="{% if forloop.counter == 1 %} active {% endif %}">
                              <a href="#tfbs_{{ collection.name }}_{{ organism.id }}_{{ model.name }}"
                                 data-toggle="tab">{{ model.name }}</a>
                            </li>
                            {% endfor %}
                          </ul>

                          <div class="tab-content">

                            {% for model in organism.models %}

                            <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                                 id="tfbs_{{ collection.name }}_{{ organism.id }}_{{ model.name }}">

                              <!-- Show any downloads for the collection and organism. -->

                              {% if downloads %}

                              <p>
                                Download TFBSs for
                                {% if organism.genome %}
                                species <b>{{ organism.name }}</b>
                                {% else %}
                                <b>all species</b>
                                {% endif %}
                                using prediction model <b>{{ model.name }}</b>
                                in the <b>{{ collection.name }}</b> collection
                              </p>

                              <div class="list-group">
                                {% for download in model.downloads %}
                                {% if download.scope == "model" %}

                                <a class="list-group-item list-group-item-info" href="{% static "" %}data/{{ data_tag }}/bulk_{{ collection.name }}/{{ organism.filename }}/{{ model.prefix }}_{{ organism.genome_prefix }}{{ download.basename }}.{{ organism.suffix }}">
                                  <i class="fas fa-download"> </i> {{ download.label }}</a>

                                {% endif %}
                                {% endfor %}
                              </div>

                              {% endif %}

                            </div>

                            {% endfor %}

                          </div>
                        </div>
                      </div>
                    </div>

                    {% if organism.genome %}
                    <div class="alert alert-info">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Note:</span>
                      All the genomic coordinates are in the {{ organism.genome }} version of the {{ organism.name}} genome.
                    </div>
                    {% endif %}

                  </div>

                  {% endfor %}

                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->

          {% endfor %}

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  {% if have_peaks %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h4><i class="fas fa-download"> </i> Download peak data and MACS ChIP-seq peak summits</h4>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

          {% for collection in collections %}

          <h4><i class="fas fa-database"> </i> {{ collection.name }} collection</h4>

          <div class="panel panel-default">
            <div class="panel-heading">Species</div>
            <div class="panel-body">
              <div class="nav-tabs-custom">

                <ul class="nav nav-tabs" id="summits_organismTabs">
                  {% for organism in collection.organisms %}
                  <li class="{% if forloop.counter == 1 %} active {% endif %}">
                    <a href="#summits_{{ collection.name }}_{{ organism.id }}" data-toggle="tab">{{ organism.name }}</a>
                  </li>
                  {% endfor %}
                </ul>

                <div class="tab-content">

                  {% for organism in collection.organisms %}

                  <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                       id="summits_{{ collection.name }}_{{ organism.id }}">

                    <p>
                      Download peak data for
                      {% if organism.genome %}
                      species <b>{{ organism.name }}</b>
                      {% else %}
                      <b>all species</b>
                      {% endif %}
                      in the <b>{{ collection.name }}</b> collection
                    </p>

                    <div class="list-group">
                      <a class="list-group-item list-group-item-info" href="{% static "" %}data/{{ data_tag }}/bulk_{{ collection.name }}/{{ organism.filename }}/{{ organism.genome_prefix }}remap2018_peaks_per_tf.tar.gz">
                      <i class="fas fa-download"> </i> All ReMap peaks per TF (in BED format)</a>
                    </div>

                    <!-- Show relevant downloads for the collection, organism and model. -->

                    <div class="panel panel-default">
                      <div class="panel-heading">Prediction models</div>
                      <div class="panel-body">
                        <div class="nav-tabs-custom">

                          <ul class="nav nav-tabs" id="summits_modelTabs_{{ organism.id }}">
                            {% for model in models %}
                            <li class="{% if forloop.counter == 1 %} active {% endif %}">
                              <a href="#summits_{{ collection.name }}_{{ organism.id }}_{{ model.name }}"
                                 data-toggle="tab">{{ model.name }}</a>
                            </li>
                            {% endfor %}
                          </ul>

                          <div class="tab-content">

                            {% for model in models %}

                            <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                                 id="summits_{{ collection.name }}_{{ organism.id }}_{{ model.name }}">

                              <p>
                                Download MACS ChIP-seq peak summits separately for entries inside and outside the enrichment zone (EZ) for
                                {% if organism.genome %}
                                species <b>{{ organism.name }}</b>
                                {% else %}
                                <b>all species</b>
                                {% endif %}
                                using prediction model <b>{{ model.name }}</b>
                                in the <b>{{ collection.name }}</b> collection
                              </p>

                              <div class="list-group">
                                <a class="list-group-item list-group-item-info" href="{% static "" %}data/{{ data_tag }}/bulk_{{ collection.name }}/{{ organism.filename }}/{{ model.prefix }}_{{ organism.genome_prefix }}inside_and_outside_the_ez_peak_summit.tar.gz">
                                <i class="fas fa-download"> </i> Peak summits</a>
                              </div>

                            </div>

                            {% endfor %}

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  {% endfor %}

                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->

          {% endfor %}

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  {% endif %}

{% endblock %}
