{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    UniBind Enrichment Analysis
{% endblock %}

{% block meta %}
  {% if processing %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
{% endblock %}

{% block content_header %}
 UniBind Enrichment Analysis
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Enrichment</li>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-12">
      <div class="box box-success {% if form.data.filtering %}collapsed-box{% endif %}">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fas fa-image"></i> Enrichment Analysis Results</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"
              aria-expanded="{% if form.data.filtering %}false{% else %}true{% endif %}">
              <i class="fas {% if form.data.filtering %}fa-plus{% else %}fa-minus{% endif %}"></i></button>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div class="alert alert-info alert-dismissible">
            <i class="fas fa-info-circle"></i> Here are your UniBind enrichment
            results and their URL which you can save and share with colleagues.
            Please download the results archive as we keep results only for
            {{days}} days on our server.
          </div>

          {% if empty_filtered_results %}

          <div class="alert alert-info alert-warning">
            <i class="fas fa-exclamation-triangle"></i> The displayed results
            are unfiltered because the chosen filter eliminated all items in the
            generated result set.
          </div>

          {% endif %}

          <table class="table table-striped table-hover">
            <tr>
              <th>UniBind enrichment module:</th>
              <td>{{ job.analysis_type}}: {{ job.name }}</td>
            </tr>
            <tr>
              <th>UniBind command with parameters:</th>
              <td width="75%"> <code>{{ job.parameter }}</code></td>
            </tr>
            <tr>
              <th>Analysis name/title:</th>
              <td>{{ job.name }}</td>
            </tr>
            <tr>
              <th>Job status:</th>
              <td>{{ job.job_status }}</td>
            </tr>
            <tr>
              <th>Date and time:</th>
              <td>{{ job.created_at }}</td>
            </tr>
            <tr>
              <th>Results URL:</th>
              <td><a href="{{ request.build_absolute_uri }}"> {{ request.build_absolute_uri }}</a></td>
            </tr>
          </table>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

  {% if job.job_status == 'Completed' and not job.deleted_at == None %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-failure">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          These results are deleted from the server!
        </div>
      </div>
    </div>
  </div>

  {% elif job.job_status == 'Stopped' %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-failure">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          This job failed during processing. Please check <a href="/temp/{{ enrichment_id }}/unibind_stderr_log.txt" target="_blank">error log</a> or <a href='/contact-us'> contact us</a> with the job URL: {{ request.build_absolute_uri }}
        </div>
      </div>
    </div>
  </div>

  {% elif processing %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <p class="lead">Please wait, UniBind Enrichment Analysis is running
        <img src="{% static 'img/ajax-loader.gif' %}"></p>
      </div>
    </div>
  </div>

  {% else %}

  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">View and download enrichment results</h3>
        </div>
        <div class="box-body">

          <p>See below for the <a href="#swarm_plot">swarm plot</a>,
          <a href="#bee_swarm_plot">bee swarm plot</a>, and
          <a href="#ranking_plot">ranking plot</a> of the results.</p>

          <p>Results are also available as a tar archive.</p>

          <p><a href="/temp/{{ enrichment_id }}.tar.gz">
               <button type="button" class="pull-right btn btn-success">
               <i class="fas fa-download"></i> Download Enrichment Results</button></a>
          </p>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Filter enrichment results</h3>
        </div>
        <div class="box-body">

          <p>Enrichment results can be filtered according to cell line/tissue
          details. This will produce a new result archive and new versions of
          the plots shown below.</p>

          {% if message %}
          <div class="alert alert-{{ message_type }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
          {% endif %}

          <hr>

          <!-- Enrichment form with controls provided by a common template. -->

          <form id="enrichment_results_form" action="/enrichment/{{ enrichment_id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "portal/cell_line_filter.html" %}

            <p>With cell lines selected, proceed to filtering...</p>

            <div class="box-footer clearfix">
              <button type="submit" class="pull-right btn btn-success"
                      name="performFiltering" id="performFiltering"
                      value="true">Filter Results <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-default" id="swarm_plot">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fas fa-image"> </i> Unibind enrichment swarm plot</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p align="center">
          <img src="/temp/{{ enrichment_id }}/allEnrichments_swarm.pdf.png" width="70%">
       <br>
       *N.S. = Non-significant
       </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-default" id="bee_swarm_plot">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fas fa-image"> </i> UniBind enrichment bee swarm plot | <small> <a href="/temp/{{ enrichment_id }}/Unibind_enrichment_interactive_beeswarmplot.html" target="_blank">View interactive bee swarm plot</a></small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <img src="/temp/{{ enrichment_id }}/Unibind_enrichment_beeswarmplot.png" width="100%">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-default" id="ranking_plot">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fas fa-image"> </i> UniBind enrichment ranking plot | <small> <a href="/temp/{{ enrichment_id }}/Unibind_enrichment_interactive_ranking.html" target="_blank">View interactive ranking plot</a></small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <img src="/temp/{{ enrichment_id }}/Unibind_enrichment_ranking.png" width="100%">
        </div>
      </div>
    </div>
  </div>

  {% endif %}

{% endblock %}
