{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
UniBind Enrichment Analysis
{% endblock %}

{% block content_header %}
UniBind Enrichment Analysis
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Enrichment</li>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">

    <div class="box box-success">
      <div class="box-header with-border">
        <i class="fas fa-upload"></i>
        <h3 class="box-title">Upload your BED file(s)</h3>
      </div>
      <div class="box-body">

        <p>Note: All input files should provide genomic regions in

        <a href="https://genome.ucsc.edu/FAQ/FAQformat.html#format1"
           target="_blank">BED file</a>

        format corresponding to appropriate species genome versions.</p>

        {% if message %}
        <div class="alert alert-{{ message_type }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endif %}

        <form id="enrichment_form" action="/enrichment/" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">

          {{ form | bootstrap }}

          </div>

	  <p><span class="label label-warning">Note</span> An e-mail address is
	  optional and will only be used to send notifications about analysis
	  results.</p>

          <div class="form-group">
            <div class="box-footer clearfix">
              <button type="submit" class="pull-right btn btn-success"
                      name="performEnrichment" id="performEnrichment">Perform
                      Enrichment <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include "portal/enrichment_about.html" %}

</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
  $('input[type=radio][name=analysis_type]').on('change', function() {
  switch ($(this).val()) {
<!--    case 'oneSetNoBg':
      $('#id_bed_file_background').removeAttr('required');
      $('#id_bed_file_2').removeAttr('required');
      break; -->
    case 'oneSetBg':
      $("#id_bed_file_background").attr("required","required");
      $('#id_bed_file_2').removeAttr('required');
      break;
    case 'twoSets':
      $("#id_bed_file_2").attr("required","required");
      $('#id_bed_file_background').removeAttr('required');
      break;
  }
});
</script>

{% endblock %}
