{% load static %}

  <div class="col-md-8">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-info-circle"> </i> About UniBind TFBS sets enrichment</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

        </div>
      <!-- /.box-header -->
      <div class="box-body">

        <p>The

        <a href="https://bitbucket.org/CBGR/unibind_enrichment/"><em>UniBind enrichment</em></a>

        tool predicts which sets of TFBSs from the

	<a href="https://{{ request.get_host }}">UniBind</a>

        database are enriched in a set of given genomic regions. Enrichment
        computations are performed using the

        <a href="http://code.databio.org/LOLA/">LOLA tool</a>.

        For more information about the underlying enrichment computations, read
        the

        <a href="http://code.databio.org/LOLA/">LOLA documentation</a>.

        The underlying database of TFBS sets from UniBind in provided as RDS
        files in our

        <a href="https://zenodo.org/record/4161028">Zenodo repository</a>,

        which have been precomputed using LOLA. The tool allows for three types
        of computations:</p>

        <ol>
        <li>Enrichment of TFBSs in a set of genomic regions compared to a
            given universe of genomic regions.</li>

        <li>Differential TFBS enrichment when comparing one set of genomic
          regions (set1) to another (set2).</li>

        <li>Enrichment of TFBSs in a set of genomic regions compared to all
          TFBS sets stored in UniBind.</li>
        </ol>

      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-success" id="oneSetBg">
      <div class="box-header with-border">
        <h3 class="box-title">1. Enrichment within a given universe of genomic regions</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

        </div>
      <!-- /.box-header -->
      <div class="box-body">

       <p><img src="{% static 'img/oneSetBg.png' %}" alt="oneSetBg img" width="99%" /></p>

        <p>To compute which sets of TFBSs from UniBind are enriched in a set
        <em>S</em> of genomic regions compared to a universe <em>U</em> of
        genomic regions, you can use the <em>oneSetBg</em> subcommand as
        follows.</p>

        <pre>bash bin/UniBind_enrich.sh oneSetBg &lt;LOLA db&gt; &lt;S bed&gt; &lt;U bed&gt; &lt;output dir&gt;</pre>

        <p>This will compute the enrichment of TFBS sets from UniBind
        (using <em>data/20190423_UniBind_LOLA.RDS</em>) in the genomic
        regions from <em>S</em> (provided as a BED file) when compared to
        the expectation from a universe <em>U</em> of genomic regions
        (provided as a BED file). All result files will be provided in
        the <code>&lt;output dir&gt;</code> directory. <b>Note that every
        region in <em>S</em> should overlap with one region in
        <em>U</em>.</b></p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <div class="box box-success" id="twoSets">
      <div class="box-header with-border">
        <h3 class="box-title">2. Differential enrichment</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <img src="{% static 'img/oneTwoSets.png' %}" alt="twoSets_img" width="100%"/>

        <p>To compute which sets of TFBSs from UniBind are enriched in a set
        <em>S1</em> of genomic regions compared to another set <em>S2</em> of
        genomic regions, you can use the <em>twoSets</em> subcommand as
        follows.</p>

        <pre>bash bin/UniBind_enrich.sh twoSets &lt;LOLA db&gt; &lt;S1 bed&gt; &lt;S2 bed&gt; &lt;output dir&gt;</pre>

        <p>This will compute the enrichment of TFBS sets from UniBind (using
        <em>data/20190423_UniBind_LOLA.RDS</em>) in the genomic regions from
        <em>S1</em> (provided as a BED file) when compared to the genomic
        regions in <em>S2</em> (provided as a BED file). All result files will
        be provided in the <code>&lt;output dir&gt;</code> directory.</p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <div class="box box-success" id="oneSetNoBg">
      <div class="box-header with-border">
        <h3 class="box-title">3. Enrichment when no background is provided</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <img src="{% static 'img/oneSetNoBg.png' %}" alt="oneSetNoBg img" width="100%"/>

        <p>When no background is provided, one can compute which sets of TFBSs
        from UniBind are enriched in a set <em>S</em> of genomic regions using
        the <em>oneSetNoBg</em> subcommand as follows. In this case, the
        enrichment will be computed against a default background corresponding
        to the genomic regions of all TFBSs stored in UniBind.
        <strong>WARNING</strong> We encourage users to provide an adequate
        background set of genomic regions whenever possible using the
        <em>oneSetBg</em> subcommand.</p>

        <pre>bash bin/UniBind_enrich.sh oneSetNoBg &lt;LOLA db&gt; &lt;LOLA universe&gt; &lt;S bed&gt; &lt;output dir&gt;</pre>

        <p>This will compute the enrichment of TFBS sets from UniBind (using
        <em>data/20190423_UniBind_LOLA.RDS</em> and
        <em>data/20190423_UniBind_LOLAuniverse.RDS</em>) in the genomic regions
        from <em>S</em> (provided as a BED file). All result files will be
        provided in the <code>&lt;output dir&gt;</code> directory.</p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-folder-open"> </i> UniBind enrichment output and example</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <h4 id="output">Output</h4>

        <p>The output directory will contain the <em>allEnrichments.tsv</em>
        file provide the enrichment score for each TFBS set from UniBind along
        with their metadata information. Similar files (following the template
        <em>col_<TF>.tsv</em>) are created for each TF with all data sets
        available for that TF.</p>

        <p>A visual representation of the enrichment analysis is provided in
        the output directory in the plot file
        <em>allEnrichments_swarm.pdf</em>. It corresponds to a swarm plot using
        the log10(p-value) of the enrichment for each TFBS set on the y-axis.
        The data sets for the top 10 TFs showing a log10(p-value)&lt;2 are
        highlighted with dedicated colors (one color per TF). Data sets with
        log10(p-value)&gt;2 are provided with a color for N.S.
        (non-significant).</p>

        <h4 id="example">Example</h4>

        <p>As an example of application, we provide data derived from the
        publication

        <a href="https://www.nature.com/articles/s41467-017-00510-x">DNA
        methylation at enhancers identifies distinct breast cancer lineages,
        Fleischer, Tekpli, <em>et al</em>, <em>Nature Communications</em>,
        2017</a>.

        The genomic regions of interest correspond to 200bp-long regions around
        CpGs from cluster 2A described in the publication. These regions around
        CpGs of interest are shown to be associated with FOXA1, GATA, and ESR1
        binding. We applied the following command to compute TFBS enrichment
        using all the CpG probes from the Illumina Infinium HumanMethylation450
        microarray:</p>

        <pre>bash bin/UniBind_enrich.sh oneSetBg data/20190423_UniBind_LOLAdb.RDS data/example_Fleischer_et_al/clusterA_200bp_hg38.bed data/example_Fleischer_et_al/450k_probes_hg38_200bp.bed ub_enrichment</pre>

        <p>We observe a clear enrichment for TFBSs associated with the expected
        TFs. The corresponding swarm plot is:</p>

        <img src="{% static 'img/allEnrichments_swarm.png' %}" alt="swarm plot" />

        <h4>Interactive Figures</h4>
        <ul>
          <li><a href="{% static 'html/Unibind_enrichment_interactive_beeswarmplot.html' %}"
                 target="_blank">Unibind enrichment interactive beeswarmplot</a></li>
          <li><a href="{% static 'html/Unibind_enrichment_interactive_ranking.html' %}"
                 target="_blank">Unibind enrichment interactive ranking</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
