<!-- Factor summaries. -->

<table id="{{ table_id }}" class="table table-responsive table-bordered table-hover" width="100%">
  <thead>
  <tr>
    <th id="factor_summary">TF Name</th>
    <th>Cell-line</th>
    <th>Condition/Source</th>
    <th>Collections</th>
    <th>Species</th>
    <th>Identifiers</th>
    <th>JASPAR ID</th>
  </tr>
  </thead>
  <tbody>
  {% for factor in factors %}
    <tr>
    <td><b><a href="/factor/{{ factor.folder }}">{{ factor.tf_name }}</a></b></td>
    <td>{% for cell_line in factor.cell_lines %} {{ cell_line }} {% endfor %}</td>
    <td>{% for biological_condition in factor.biological_conditions %} {{ biological_condition }} {% endfor %}</td>
    <td>
      <!-- Show "badges" for involved collections. -->

      {% for collection in factor.collections %}
      <span class="badge">{{ collection.name }}</span>
      {% endfor %}
    </td>
    <td>{{ factor.species.name }}</td>
    <td>
      {% for source_name, refs in factor.references %}
        {% if forloop.counter == 2 and factor.references.0.1.length == 1 %}
          ...
        {% elif forloop.counter == 1 %}
          {% for ref in refs %}
            {% if forloop.counter == 2 %}
            ...
            {% elif forloop.counter == 1 %}
              {% if ref.ref_db.url_prefix %}
              <a href="{{ ref.ref_db.url_prefix }}{{ ref.ref_id }}" target="_blank">{{ ref.ref_id }}</a>
              {% else %}
              {{ ref.ref_id }}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </td>
    <td>
      {% for profile_id in factor.profile_ids %}
        {% if forloop.counter == 2 %}
        ...
        {% elif forloop.counter == 1 %}
        <a href="http://jaspar.genereg.net/matrix/{{ profile_id }}" target="_blank">{{ profile_id }}</a>
        {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  </tfoot>
</table>
