{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
    {{ factor.tf_name }} - TFBS
{% endblock %}

{% block content_header %}
Detailed information of <b>{{ factor.tf_name }}</b>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">TF &gt; {{ factor.tf_name }}</li>
{% endblock %}

{% block content %}

<div class="row" id="demo-end">
  <div class="col-md-8">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">Dataset summary</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover" id="profile-detail">
        <tr>
          <td><b>TF Name:</b></td>
          <td>{{ factor.tf_name }}
          </td>

          <td><b>Species:</b></td>
          <td>{{ factor.species.name }}
          </td>
        </tr>

        <tr>
          <td><b>Cell-type/Tissue:</b></td>
          <td>
            {% for cell_line in cell_lines %}
            {{ cell_line }}
            {% endfor %}
          </td>

          <td><b>Condition/Source:</b></td>
          <td>
            {% for biological_condition in biological_conditions %}
            {{ biological_condition }}
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td><b>JASPAR ID:</b></td>
          <td>
            {% for profile_id in profile_ids %}
            <a href="http://jaspar.genereg.net/matrix/{{ profile_id }}" target="_blank">{{ profile_id }}</a>
            {% endfor %}
          </td>

          <td><b>Collections:</b></td>
          <td>
            <!-- Show "badges" for involved collections. -->

            {% for collection in collections %}
            <span class="badge">{{ collection.name }}</span>
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td><b>References:</b></td>
          <td colspan="3">

            {% for source_name, refs in references %}

            <span style="display: inline-block; margin-right: 1em">
              <span class="label label-primary">{{ source_name }}</span>

              {% for ref in refs %}

              {% if ref.ref_db.url_prefix %}
              <span><a href="{{ ref.ref_db.url_prefix }}{{ ref.ref_id }}" target="_blank">{{ ref.ref_id }}</a></span>
              {% else %}
              {{ ref.ref_id }}
              {% endif %}

              {% endfor %}

            </span>

            {% endfor %}

          </td>
        </tr>

        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-4">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">External links</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <a href="http://remap.univ-amu.fr/target_page/{{ factor.tf_name }}:{{ factor.species.tax_id }}" target="_blank">
          <img src="{% static 'img/logos/remap_v2_logo.png' %}" height="30px" style="padding-right: 10px">
        </a>

        <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ factor.tf_name }}" target="_blank">
          <img src="{% static 'img/logos/genecards_logo.png' %}" height="30px">
        </a>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs" id="detailTabs">

        {% for profile_id in profile_ids %}

        <li class="{% if forloop.first %} active {% endif %}">
          <a href="#{{ profile_id | slugify }}"
             data-toggle="tab">{{ profile_id }}</a>
        </li>

        {% endfor %}

      </ul>
      <div class="tab-content">

        {% for profile_id in profile_ids %}

        <div class="{% if forloop.first %} active {% endif %} tab-pane"
             id="{{ profile_id | slugify }}">

          <h4>Models for profile: <b>{{ profile_id }}</b></h4>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="detailTabs-models">

              {% for model in models %}

              <li class="{% if forloop.first %} active {% endif %}">
                <a href="#{{ profile_id | slugify }}-{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}"
                   data-toggle="tab">
                  {% if model == 'DiMO' %} PWM {% else %}{{ model }}{% endif %}
                </a>
              </li>

              {% endfor %}

            </ul>
            <div class="tab-content">

              {% for model in models %}

              <div class="{% if forloop.first %} active {% endif %} tab-pane"
                   id="{{ profile_id | slugify }}-{% if model == 'DiMO' %}PWM{% else %}{{ model }}{% endif %}">

                <div class="row">

                  <div class="col-md-4">

                    <div class="box box-solid">
                      <div class="box-header with-border">
                        <i class="fas fa-download"></i>
                        <h3 class="box-title">Download TFBSs ({{ factor.species.genome.name }})</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                          <p>Download TFBSs in BED and FASTA format</p>
                          <p>
                            {% if model == 'DNAshaped' %}

                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.bed">
                              <button type="button" class="btn btn-info"><i class="fas fa-download"> </i> TFBSs 4bits (BED)</button>
                            </a>

                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.fa">
                              <button type="button" class="btn btn-success"><i class="fas fa-download"> </i> TFBSs 4bits (FASTA)</button>
                            </a>

                            <br><br>
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.bed">
                              <button type="button" class="btn btn-info"><i class="fas fa-download"> </i> TFBSs PWM (BED)</button>
                            </a>
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.fa">
                              <button type="button" class="btn btn-success"><i class="fas fa-download"> </i> TFBSs PWM (FASTA)</button>
                            </a>
                            <br><br>
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.bed">
                              <button type="button" class="btn btn-info"><i class="fas fa-download"> </i> TFBSs TFFM (BED)</button>
                            </a>
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.fa">
                              <button type="button" class="btn btn-success"><i class="fas fa-download"> </i> TFBSs TFFM (FASTA)</button>
                            </a>

                            {% else %}

                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.bed">
                              <button type="button" class="btn btn-info"><i class="fas fa-download"> </i> TFBSs in BED</button>
                            </a>

                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.fa">
                              <button type="button" class="btn btn-success"><i class="fas fa-download"> </i> TFBSs in FASTA</button>
                            </a>

                            {% endif %}

                          </p>

                          {% if have_peaks %}

                          <hr>
                          <p>Download <strong>{{ factor.total_peaks }} </strong>peaks in BED format</p>
                          <p>
                            <a href="{% static "" %}data/{{ data_tag }}/peaks/{{ peak_caller|lower }}/{{ folder_name }}/{{ folder_name }}.narrowPeak"
                               download target="_blank">
                              <button type="button" class="btn btn-warning"><i class="fa fa-download"> </i> Download ReMap Peaks </button>
                            </a>
                          </p>

                          {% endif %}

                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>

                    <div class="box box-solid">
                      <div class="box-header with-border">
                        <i class="fas fa-download"></i>
                        <h3 class="box-title">Download trained model</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                          <p>Download trained prediction models</p>
                          <p>
                            <a href="?mtrain={{ model }}">
                              <button type="button" class="btn btn-info"><i class="fas fa-download"> </i> Trained Model</button>
                            </a>
                          </p>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>

                    <div class="box box-solid">
                      <div class="box-header with-border">
                        <i class="fas fa-chart-bar"></i>
                        <h3 class="box-title"> Visualize TFBSs in UCSC</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                          <p>Send TFBSs BED file to UCSC genome browser</p>
                          <p>
                            {% if model == 'DNAshaped' %}

                            {% if factor.species.genome.ucsc_special %}
                            <a href="http://genome.ucsc.edu/h/{{ factor.species.genome.ucsc_special }}?hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs 4bits (BED)</button>
                            </a>
                            {% else %}
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?pix=1000&db={{ factor.species.genome.ucsc_name }}&hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs 4bits (BED)</button>
                            </a>
                            {% endif %}

                            <br><br>

                            {% if factor.species.genome.ucsc_special %}
                            <a href="http://genome.ucsc.edu/h/{{ factor.species.genome.ucsc_special }}?hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs PWM (BED)</button>
                            </a>
                            {% else %}
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?pix=1000&db={{ factor.species.genome.ucsc_name }}&hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs PWM (BED)</button>
                            </a>
                            {% endif %}

                            <br><br>
                            {% if factor.species.genome.ucsc_special %}
                            <a href="http://genome.ucsc.edu/h/{{ factor.species.genome.ucsc_special }}?hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs TFFM (BED)</button>
                            </a>
                            {% else %}
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?pix=1000&db={{ factor.species.genome.ucsc_name }}&hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs TFFM (BED)</button>
                            </a>
                            {% endif %}

                            {% else %}

                            {% if factor.species.genome.ucsc_special %}
                            <a href="http://genome.ucsc.edu/h/{{ factor.species.genome.ucsc_special }}?hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs in BED</button>
                            </a>
                            {% else %}
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?pix=1000&db={{ factor.species.genome.ucsc_name }}&hgt.customText=https://{{ request.get_host }}{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.bed" target="_blank">
                              <button type="button" class="btn btn-info"><i class="fas fa-external-link-alt"> </i> TFBSs in BED</button>
                            </a>
                            {% endif %}

                            {% endif %}
                          </p>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
                  <!-- ./col -->

                  <div class="col-md-8">

                    {% if model == 'DNAshaped' %}

                    <div class="box-group" id="accordion">
                      <div class="panel box box-success">
                        <div class="box-header with-border">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#4bits">
                              <i class="fas fa-image"></i> DNAshaped+4bits
                            </a>
                          </h4>

                          <div class="box-tools pull-right">
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.png" download target="_blank">
                              <button type="button" class="btn btn-warning"><i class="fas fa-download"> </i> </button>
                            </a>
                          </div>
                        </div>
                        <div id="4bits" class="panel-collapse collapse in">
                          <div class="box-body">
                            <img class="img-responsive"
                                 src="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}4bits.png">
                          </div>
                        </div>
                      </div>

                      <div class="panel box box-success">
                        <div class="box-header with-border">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#pwm">
                              <i class="fas fa-image"></i> DNAshaped+PWM
                            </a>
                          </h4>
                          <div class="box-tools pull-right">
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.png" download target="_blank">
                              <button type="button" class="btn btn-warning"><i class="fas fa-download"> </i> </button>
                            </a>
                          </div>
                        </div>
                        <div id="pwm" class="panel-collapse collapse">
                          <div class="box-body">
                            <img class="img-responsive" src="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}PSSM.png">
                          </div>
                        </div>
                      </div>

                      <div class="panel box box-success">
                        <div class="box-header with-border">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#tffm">
                              <i class="fas fa-image"></i> DNAshaped+TFFM
                            </a>
                          </h4>
                          <div class="box-tools pull-right">
                            <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.png" download target="_blank">
                              <button type="button" class="btn btn-warning"><i class="fas fa-download"> </i> </button>
                            </a>
                          </div>
                        </div>
                        <div id="tffm" class="panel-collapse collapse">
                          <div class="box-body">
                            <img class="img-responsive" src="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{{ model }}TFFM.png">
                          </div>
                        </div>
                      </div>
                    </div>

                    {% else %}

                    <div class="box box box-success">
                      <div class="box-header with-border">
                        <i class="fas fa-image"></i>
                        <h3 class="box-title">Summary plots</h3>
                        <div class="box-tools pull-right">
                          <a href="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.png" download target="_blank">
                            <button type="button" class="btn btn-warning"><i class="fas fa-download"> </i> </button>
                          </a>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <img class="img-responsive" src="{% static "" %}data/{{ data_tag }}/{{ peak_caller|lower }}/{{ model }}/{{ folder_name }}/{{ folder_name }}.{{ profile_id }}.{% if model == 'DiMO' %}pwm{% else %}{{ model|lower }}{% endif %}.png">
                      </div>
                    </div>
                    <!-- /.box -->

                    {% endif %}

                  </div>
                  <!-- ./col -->
                </div>
                <!-- ./row -->
              </div>
              <!-- /.tab-pane -->

              {% endfor %} <!-- models -->

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.tab-pane -->

        {% endfor %} <!-- profile_ids -->

      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>
  <!-- /.col -->
</div>

{% if factor_details %}

<div class="row">
  <div class="col-xs-12 col-md-12 col-xl-12">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">  Statistical details</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" id="statistical-details">
        <table id="search_table" class="table table-responsive table-bordered table-hover" width="100%">
          <thead>
          <tr>
            <th>Model</th>
            <th>Peak caller</th>
            <th>Model ID</th>
            <th>Enrichment Zone</th>
            <th>TFBSs</th>
            <th>Score threshold</th>
            <th>Centrality p-value (log10)</th>
          </tr>
          </thead>
          <tbody>
          {% for factor_detail in factor_details %}
            <tr>
            <td>{% if factor_detail.prediction_model == 'DiMO' %} PWM {% else %}{{ factor_detail.prediction_model }}{% endif %}

            </td>
            <td>{{ factor_detail.peak_caller }}</td>
            <td>
            {% if factor_detail.jaspar_id %}

            <a href="http://jaspar.genereg.net/matrix/{{ factor_detail.jaspar_id }}.{{ factor_detail.jaspar_version }}" target="_blank">{{ factor_detail.jaspar_id }}.{{ factor_detail.jaspar_version }}</a>

            {% endif %}
            </td>
            <td>{{ factor_detail.distance_threshold }}</td>
            <td>{{ factor_detail.total_tfbs }}</td>
            <td>{{ factor_detail.score_threshold }}</td>
            <td>
              {% if factor_detail.adj_centrimo_pvalue == 'NA' %}
              NS
              {% else %}
                {{ factor_detail.adj_centrimo_pvalue }}
              {% endif %}
            </td>

          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

{% endif %}

{% if factors %}

<div class="row">
  <div class="col-xs-12 col-md-12 col-xl-12">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title"> <b>{{ factors|length }} </b> datasets found for the same TF (<b>{{ factor.tf_name }}</b>) in other cell-types/tissues</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" id="similar-datasets">
        {% include "portal/factor_summaries.html" with table_id="search_table2" %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

{% endif %}

{% endblock %}

{% block javascript %}

  {% include "portal/tour.html" %}

{% endblock %}

{% block datatable %}

  <script type="text/javascript">
    $(function () {
      $('#search_table').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
       // "ordering": true,
        "info": false,
        "autoWidth": true,
        "bProcessing": true,
        "bScrollInfinite": true,
        "fixedHeader": false,
        "bLengthChange": true,

        //'select': {
         //     style:    'multi+shift',
             // selector: ':first-child'
         // },

        //"lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "searchHighlight": true,
        "order": [[ 1, "asc" ]],
        "responsive": true,
        //"sScrollY": "100%",

        "oLanguage": {
                       "sSearch": "Filter:",
                       "sLengthMenu": "Display _MENU_ datasets",
                     },
        'dom': 'lfrtipB',
        'buttons': [
                     'copy', 'csv'
                   ],
        });
      });
  </script>

  <script type="text/javascript">
    $(function () {
      $('#search_table2').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
       // "ordering": true,
        "info": false,
        "autoWidth": true,
        "bProcessing": true,
        "bScrollInfinite": true,
        "fixedHeader": false,
        "bLengthChange": true,

        //'select': {
         //     style:    'multi+shift',
             // selector: ':first-child'
         // },

        //"lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "searchHighlight": true,
        "order": [[ 1, "asc" ]],
        "responsive": true,
        //"sScrollY": "100%",

        "oLanguage": {
                       "sSearch": "Filter:",
                       "sLengthMenu": "Display _MENU_ datasets",
                     },
        'dom': 'lfrtipB',
        'buttons': [
                     'copy', 'csv'
                   ],
        });
      });
  </script>

{% endblock %}
