{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Frequently Asked Questions
{% endblock %}

{% block content_header %}
FAQ
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">FAQ</li>
{% endblock %}

{% block content %}

    <div class="row">

      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-question"></i> Frequently Asked Questions</h3>
          </div>
          <div class="box-body">
            <div id="how-do-i-cite-unibind">
              <h4>How do I cite UniBind?</h4>

	      {% include "portal/citations.html" %}

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-list"></i> List of questions </h3>
          </div>
          <div class="box-body">
            <div id="TOC">
              <ul>
                <li><a href="#how-do-i-cite-unibind">How do I cite UniBind?</a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% block javascript %}

    <script>
    $(document).ready(function () {
      window.buildTabsets("TOC");
    });
    </script>

    {% endblock %}

{% endblock %}
