{% load static %}

  <footer class="main-footer">
    <div class="container">

      <!-- Fixed line height to let the UniBind logo sit at the bottom of the
           line, close to the next row. -->

      <div class="row" style="line-height: 80px">

        <!-- Logos collected on the right. -->

        <span style="float: right">

          <!-- Logos appearing from right to left. -->

          {% include "portal/logos.html" %}

        </span>

        <!-- UniBind logo appearing on the left. -->

        <img src="{% static 'img/UniBind-logo.png' %}"
             height="40px" style="vertical-align: bottom">

      </div>

      <div class="row">
        <small>
          Copyright &copy; {% now "Y" %}. The content of UniBind is licensed under
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
             target="_blank"> <i class="fab fa-creative-commons" aria-hidden="true"></i> </a>
          Creative Commons Attribution 4.0 International License.</small>
      </div>

    </div>
  </footer>
