{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Genome track data hub for UCSC and Ensembl
{% endblock %}

{% block content_header %}
UniBind Genome Browser tracks
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Genome tracks</li>
{% endblock %}

{% block content %}

<div class="row" id="top">
  <div class="col-md-9 col-lg-9 col-xs-12" id="ucsc_tracks">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-map-marker"></i> UCSC tracks</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <h4>1. Direct link</h4>

        <p>View the tracks directly in the UCSC Genome Browser for the
        following species and genome assemblies in each of the collections:</p>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="nav-tabs-custom">

              <ul class="nav nav-pills" id="UCSCTabs">
                {% for collection in collections %}

                <li class="{% if forloop.counter == 1 %} active {% endif %}">
                  <a href="#UCSC_{{ collection.name }}" data-toggle="tab">{{ collection.name }}</a>
                </li>

                {% endfor %}
              </ul>

              <div class="tab-content well">

                {% for collection in collections %}
                <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="UCSC_{{ collection.name }}">

                  <ul>
                    {% for organism in collection.organisms %}

                    <li>{{ organism.name }}:
                      <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?genome={{ organism.genome.ucsc_name }}&hubUrl=https://{{request.get_host}}/static/data/{{ data_tag }}/UniBind_hubs_{{ collection.name }}/UCSC/hub.txt"
                           target="_blank">{{ organism.genome.ucsc_name }}</a>
                    </li>

                    {% endfor %}
                  </ul>

                </div>
                {% endfor %}

              </div>
            </div>

          </div>
        </div>

        <h4>2. Public track hub</h4>

        <p>Connect to the UniBind track data Public Hub on the UCSC Genome
        Browser via <i>"MyData => Track Hubs"</i>:</p>

        <div class="panel panel-default">
          <div class="panel-heading">UCSC Genome Browser menu detail</div>
          <div class="panel-body">
            <img class="img img-responsive" src="{% static 'img/AddHub1.png' %}" width="80%">
          </div>
        </div>

        <p>Search for UniBind, and then adding the hub to your session using
        <i>"Connect"</i>.</p>

        <div class="panel panel-default">
          <div class="panel-heading">UCSC track data hubs dialogue</div>
          <div class="panel-body">
            <img class="img img-responsive" src="{% static 'img/AddHub2.png' %}" width="80%">
          </div>
        </div>

        <p class="pull-right"><a href="#top"><i class="fas fa-arrow-circle-up"></i> Back to top</a></p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-3 col-lg-3 col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-list"></i> Table of contents</h3>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul>
          <li><a href="#ucsc_tracks">UCSC tracks</a></li>
          <li><a href="#ensembl_tracks">Ensembl tracks</a></li>
          <li><a href="#track_hub">Track Hub Registry</a></li>
          <li><a href="#further_information">Further information</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-9 col-lg-9 col-xs-12" id="ensembl_tracks">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-map-marker"></i> Ensembl tracks</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
        </div>
      <!-- /.box-header -->
      <div class="box-body">
        <h4>1. Direct link</h4>

        <p>View the tracks directly in the Ensembl Genome Browser for the
        following species and genome assemblies in each of the collections:</p>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="nav-tabs-custom">

              <ul class="nav nav-pills" id="ENSEMBLTabs">
                {% for collection in collections %}

                <li class="{% if forloop.counter == 1 %} active {% endif %}">
                  <a href="#ENSEMBL_{{ collection.name }}" data-toggle="tab">{{ collection.name }}</a>
                </li>

                {% endfor %}
              </ul>

              <div class="tab-content well">

                {% for collection in collections %}
                <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane" id="ENSEMBL_{{ collection.name }}">

                  <ul>
                    {% for organism in collection.organisms %}

                    <li>{{ organism.name }}:
                      <a href="http://{{ organism.genome.ensembl_site}}.ensembl.org/Trackhub?species={{ organism.quoted_name }}&url=https://{{request.get_host}}/static/data/{{ data_tag }}/UniBind_hubs_{{ collection.name }}/Ensembl/hub.txt"
                           target="_blank">{{ organism.genome.ensembl_name }}</a>

                    {% endfor %}
                  </ul>

                </div>
                {% endfor %}

              </div>
            </div>

          </div>
        </div>

        <h4>2. Attach track hub</h4>

        <p>You can attach the UniBind track hub to Ensembl via “Configure this
        page”. Then search the Track Hub Repository for UniBind and attach the
        hub.</p>

        <div class="panel panel-default">
          <div class="panel-heading">Ensembl configuration detail</div>
          <div class="panel-body">
            <img class="img img-responsive" src="{% static 'img/Ensembl_UniBind_track_4.png' %}" width="40%">
          </div>
        </div>

        <p class="pull-right"><a href="#top"><i class="fas fa-arrow-circle-up"></i> Back to top</a></p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-9 col-lg-9 col-xs-12" id="track_hub">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-folder"></i> Track Hub Registry</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <p>UniBind genome tracks are also available in Track Hub Registry. Use
        this

        <a href="https://www.trackhubregistry.org/search?q=UniBind"
           target="_blank">link</a>

        and select the track for the assembly of interest.</p>

        <div class="panel panel-default">
          <div class="panel-heading">Track Hub Registry search results for UniBind</div>
          <div class="panel-body">
            <img class="img img-responsive" src="{% static 'img/Ensembl_UniBind_track_1.png' %}" width="100%">
          </div>
        </div>

        <p class="pull-right"><a href="#top"><i class="fas fa-arrow-circle-up"></i> Back to top</a></p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-md-9 col-lg-9 col-xs-12" id="further_information">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-info"></i> Further information</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <p>Click on the UniBind track details within the UCSC Genome browser to view the track help

        <a href="http://genome.ucsc.edu/cgi-bin/hgTrackUi?g=hub_1098543_UniBind"
           target="_blank">page</a>:</p>

        <div class="panel panel-default">
          <div class="panel-heading">UCSC track help page for UniBind</div>
          <div class="panel-body">
            <img class="img img-responsive" src="{% static 'img/3.png' %}" width="100%">
          </div>
        </div>

        <ul>
          <li>For more information on the use of UCSC track data hubs, see
              <a href='http://genome.ucsc.edu/goldenPath/help/hgTrackHubHelp.html'
                 target="_blank">Using UCSC Genome Browser Track Hubs</a></li>

          <li>For more information on the use of track hubs in Ensembl, see
              <a href="http://www.ensembl.org/info/website/adding_trackhubs.html"
                 target="_blank">Adding Track Hubs</a></li>
        </ul>

        <p class="pull-right"><a href="#top"><i class="fas fa-arrow-circle-up"></i> Back to top</a></p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

{% endblock %}
