{% load static %}

  <!-- Main Header -->

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><b>Uni</b>Bind</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.view == 'index' %}active{% endif %}">
              <a href="/"><i class="fas fa-home"></i> <span>Home</span></a>
            </li>

            <li class="{% if request.view == 'search' %}active{% endif %}">
              <a href="/search?advanced=true"><i class="fas fa-search"></i><span> Search</span> </a>
            </li>

            <li class="{% if request.view == 'downloads' %}active{% endif %}>">
              <a href="/downloads"><i class="fas fa-download"></i> <span>Download</span></a>
            </li>

            <li class="{% if request.view == 'genome_tracks' %}active{% endif %}>">
              <a href="/genome-tracks"><i class="fas fa-map"></i> <span>Genome tracks</span></a>
            </li>

            <li class="{% if request.view == 'docs' %}active{% endif %}">
              <a href="/docs"><i class="fas fa-book"></i> <span>Doc</span></a>
            </li>

            <li><a href="/api" target="_blank"><i class="fas fa-plug"></i> <span>API</span></a></li>

            <li class="dropdown {% if request.view == 'about' %}active{% endif %}">
              <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-info-circle"></i> About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{% if request.view == 'about' %}active{% endif %}">
                  <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> <span>About UniBind</span></a>
                </li>
                <li class="{% if request.view == 'changelog' %}active{% endif %}">
                  <a href="/changelog"><i class="fas fa-history"></i> <span>Changelog</span></a>
                </li>
                <li><a href="https://bitbucket.org/CBGR/chip-eat" target="_blank"><i class="fab fa-bitbucket"></i> <span>ChIP-eat Pipeline</span></a></li>
                <li class="{% if request.view == 'contact' %}active{% endif %}">
                  <a href="/contact-us"><i class="fas fa-envelope"></i> <span>Contact Us</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="{% if request.view == 'TFBS_extraction' %}active{% endif %}">
              <a href="/TFBS_extraction"><i class="fas fa-star"></i> <span>TFBS extraction</span>
                <span class="label label-warning">New</span></a>
            </li>
            <li class="{% if request.view == 'enrichment' %}active{% endif %}">
              <a href="/enrichment"><i class="fas fa-star"></i> <span>Enrichment Analysis</span>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
