{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
A map of direct TF-DNA interactions across species
{% endblock %}

{% block content_header %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_header %} {% endblock %}

{% block stylesheets %}

<style type="text/css">
  .jumbotron-billboard .img {
      margin-bottom: 0px;
      opacity: 0.2;
      color: #fff;
      background: #fff url("{% static 'img/TFs.png' %}") center center;
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;

      position:absolute;
      top:0;left:0;
      z-index:1;
  }

  .jumbotron {position:relative;padding:50px;
    border-radius: 8px;
    border: 4px;
    border-color: #fff;
    border-style: solid;
  }

  .jumbotron .container {z-index:2;
   position:relative;
    z-index:2;
  }
</style>

{% endblock %}

{% block content %}

    <div class="row">

    {% include "portal/quick_search.html" %}

    </div>

    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

        {% if data_version != latest_data_version %}

        <div class="box box-info" id="unibind-version">
          <div class="box-header">
            <h3 class="box-title"><i class="fas fa-info-circle"></i> UniBind {{ data_version }}</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <p>This site shows the data for UniBind {{ data_version }}. The most recent
            version of UniBind showing the latest data can be found
            <a href="https://unibind.uio.no/">here</a>.</p>
          </div>
        </div>

        {% endif %}

        <div class="box box-success" id="unibind-species">
          <div class="box-header">
            <h3 class="box-title"><i class="fas fa-search"></i> Browse UniBind by species</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">

            {% for species in featured_species %}

            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
              <div class="box box-default" >
                <a href="/search?q=&species={{ species.tax_id }}&collection=Robust">
                  <img class="img-responsive img-square" src="{% static 'img/species' %}/{{ species.image_name }}" width="100%" alt="{{ species.name }}">
                 <div style="height: 32px; align-content: center;"><h5 align="center"><strong>{{ species.name }}</strong></h5> </div></a>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>

        <div class="box box-default">
          <div class="box-body">

            <div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ datasets }}</h3>

                  <p>ChIP-seq datasets</p>
                </div>
                <div class="icon">
                  <i class="fas fa-database"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{ featured_species|length }}</h3>

                  <p>Species</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ cell_lines|length }}</h3>

                  <p>Cell lines &amp; Tissues</p>
                </div>
                <div class="icon">
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-6 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ tf_count }}</h3>

                  <p>Transcription Factors</p>
                </div>
                <div class="icon">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->

          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-6 col-xs-12">

        <div class="jumbotron jumbotron-billboard">
          <div class="img"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h2 align="center">A map of direct TF-DNA interactions across species</h2>
                <h5 align="center"><a href="/about">Read more about UniBind</a></h5> <br>
                <p align="center"><a class="btn btn-md btn-success" id="unibind-tour" href="#" role="button"><i class="fas fa-play"></i> UniBind Interactive Tour</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="box box-success">
          <div class="box-header">
            <h3 class="box-title"><i class="fas fa-info-circle"></i> What is UniBind?</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" id="jaspar-core">

            <p><b>UniBind</b> is a comprehensive map of direct interactions between transcription factor (TFs) and DNA. High confidence TF binding site predictions were obtained from uniform processing of thousands of ChIP-seq data sets using the  <a href="https://bitbucket.org/CBGR/chip-eat" target="_blank"> <b>ChIP-eat</b></a> software.
            </p>
            <p>
              <img class="img-responsive img-rounded center-block" src="{% static 'img/chipeat.png' %}" width="75%">
            </p>
          </div>
        </div>

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-edit"></i> Citing UniBind</h3>
            <div class="pull-right">
                 <a href="https://pubmed.ncbi.nlm.nih.gov/30517703/" target="_blank"><i class="ai ai-pubmed"></i> PubMed</a>
                 | <a href="https://doi.org/10.1093/nar/gky1210" target="_blank"><i class="fas fa-external-link-alt"></i> Journal</a>
                 | <a href="https://academic.oup.com/nar/advance-article-pdf/doi/10.1093/nar/gky1210/26988235/gky1210.pdf" target="_blank"> <i class="fas fa-file-pdf"></i> PDF</a>
            </div>
          </div>
          <div class="box-body">

            {% include "portal/citations.html" %}

          </div>
        </div>

        {% if data_version == latest_data_version %}

        <div class="box box-info" id="unibind-version">
          <div class="box-header">
            <h3 class="box-title"><i class="fas fa-info-circle"></i> Previous UniBind Versions</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <ul style="list-style-type: none">
              {% for version in previous_data_versions %}
              <li><a href="https://unibind{{ version }}.uio.no"><i class="fas fa-external-link-alt"></i> UniBind {{ version }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% endif %}

      </div>
    </div>
    <!-- /.row -->

    <!-- Small boxes (Stat box) -->
    <div class="row">

    </div>

{% endblock %}

{% block javascript %}

  <script type="text/javascript">
    /* Update the results when changing selected values. */
    $("#quick_search select.form-control").change(function() {
      $("#quick_search").submit();
    });
    $("#quick_search input[type='checkbox']").change(function() {
      $("#quick_search").submit();
    });
  </script>

  {% include "portal/tour.html" %}

  <script type="text/javascript">
    /* Permit the tour to be started. */
    $('#unibind-tour').click(function(){
      hopscotch.startTour(tour, 0);
    });
  </script>

{% endblock %}
