{% load static %}

<!-- Logos appearing from right to left. -->

<a href="https://www.med.uio.no/english/" target="_blank">
  <img src="{% static 'img/logos/UiO_logo.png' %}"
       alt="NCMM"
       height="50px" style="float: right; margin: 10px">
</a>
<a href="https://mathelierlab.com/" target="_blank">
  <img src="{% static 'img/logos/ncmm.png' %}"
       alt="Mathelier Group at NCMM"
       height="50px" style="float: right; margin: 10px">
</a>
<a href="https://www.forskningsradet.no/en/" target="_blank">
  <img src="{% static 'img/logos/NFR-logo-eng-rgb-medium.png' %}"
       alt="The Research Council of Norway"
       height="50px" style="float: right; margin: 10px">
</a>
<a href="https://kreftforeningen.no/en/" target="_blank">
  <img src="{% static 'img/logos/kreftforeningen_logo_engelsk_skjerm_rgb.jpg' %}"
       alt="Norwegian Cancer Society"
       height="50px" style="float: right; margin: 10px">
</a>
<a href="https://oslo-universitetssykehus.no/oslo-university-hospital" target="_blank">
  <img src="{% static 'img/logos/OUS_logo_CMYK_eng.png' %}"
       alt="Oslo University Hospital"
       height="50px" style="float: right; margin: 10px">
</a>
