{% load bootstrap %}

<div class="col-md-12 col-lg-12 col-xs-12">
  <div class="box box-success">
    <div class="box-body">

      <!-- See pages that include (incorporate) this template for JavaScript customisations. -->

      <form id="quick_search" method="post" action="/search">
        {% csrf_token %}

        <div class="input-group input-group-lg">

          <input name="q" type="text" id="unibind-search" value="{{ q }}"
                 class="form-control" autocomplete="off"
                 placeholder="Search UniBind database..." data-toggle="tooltip" data-placement="bottom"
                 title="You can search by TF name, JASPAR ID, cell-line, or any other keyword."/>

          <span class="input-group-btn">
            <button class="btn btn-success btn-flat" type="submit">Search <i class="fas fa-search"></i></button>
          </span>
        </div>
        <div class="form-group">
          <b>Examples:</b>

          {% for example in examples %}
          <a href="{{ example.url }}">{{ example.label }}</a>
          {% endfor %}

          <a role="button" class="pull-right" data-toggle="collapse" href="#advanced-search"
             aria-expanded="false" aria-controls="advanced-search"><strong>Advanced Options</strong></a>
        </div>

        <div class="collapse {% if form.data.advanced == 'true' %} in {% endif %}" id="advanced-search">
          <hr>

          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <div class="row">

              {{ form.species | bootstrap_horizontal:'col-sm-3' }}

            </div>
            <br>
            <div class="row">

              {{ form.tf_name | bootstrap_horizontal:'col-sm-3' }}

            </div>
            <br>
            <div class="row">

              {{ form.source | bootstrap_horizontal:'col-sm-3' }}

            </div>
            <br>
            <div class="row">

              {{ form.collection | bootstrap_horizontal:'col-sm-3' }}

            </div>
            <br>
            <div class="row">

              {{ form.has_pvalue | bootstrap_horizontal:'col-sm-3' }}

            </div>
            <br>
            <div class="row">

              {% if form.data.has_pvalue %}

              {{ form.threshold_pvalue | bootstrap_horizontal:'col-sm-3' }}

              <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                  <p>log(p-value); maximum 0</p>
                </div>
              </div>

              {% endif %}

            </div>
          </div>
          <div class="col-sm-5">

            {% if form.data.species or form.data.cell_line_id %}

            {% include "portal/cell_line_filter.html" %}

            {% else %}

            <p>Select a species to show cell lines.</p>

            {% endif %}

          </div>
          <div class="col-sm-1"></div>

          <input type="hidden" name="advanced" value="true">
          <input id="id_update" type="submit" name="update" value="Update" style="display: none">
          <hr>
        </div>
      </form>

    </div>
  </div>
</div>
