{% extends 'portal/base.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block content_header %}
Search
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">search</li>
{% endblock %}

{% block content %}

  <div class="row">
  {% include "portal/quick_search.html" %}

  </div>

  {% if form.data.q or form.data.q == '' or request.view == 'versions' %}
  <div class="row">

    <div class="col-xs-12 col-md-12 col-xl-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title"> <b>{{ factors.paginator.count }} </b> datasets found</h3>

          <!-- Show "badges" for involved collections. -->

          {% for collection in collections %}
          <span class="badge">{{ collection.name }}</span>
          {% endfor %}

          <!-- Download links for all results. -->

          {% if factors and factors.paginator.count %}

          <div class="btn-group pull-right" id="download_actions">
            <button type="button" class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-download"></i> Download <span class="caret"></span>
            </button>

            <!-- Each item employs a form to be able to post potentially many
                 parameter values to the API. Note that the format needs to be
                 presented in the URL for the API to respond appropriately. -->

            <ul class="dropdown-menu">
              <li>
                <form action="/api/v1/datasets/?format=tsv" method="post">
                  <input name="summary" value="true" type="hidden" />
                  <input name="all" value="true" type="hidden" />
                  {% for key, value in params %}
                  <input name="{{ key }}" value="{{ value }}" type="hidden" />
                  {% endfor %}
                  <button class="btn btn-info btn-flat btn-block" style="text-align: left" type="submit">
                    Download all {{ factors.paginator.count }} datasets as table
                  </button>
                </form>
              </li>
              <li>
                <form action="/api/v1/specific/?format=tsv" method="post">
                  <input name="summary" value="true" type="hidden" />
                  <input name="all" value="true" type="hidden" />
                  {% for key, value in params %}
                  <input name="{{ key }}" value="{{ value }}" type="hidden" />
                  {% endfor %}
                  <button class="btn btn-info btn-flat btn-block" style="text-align: left" type="submit">
                    Download as table with one record per matrix profile
                  </button>
                </form>
              </li>
              <li>
                <form action="/api/v1/specific/?format=tgz" method="post">
                  <input name="summary" value="true" type="hidden" />
                  <input name="all" value="true" type="hidden" />
                  <input name="filetype" value="bed" type="hidden" />
                  {% for key, value in params %}
                  <input name="{{ key }}" value="{{ value }}" type="hidden" />
                  {% endfor %}
                  <button class="btn btn-info btn-flat btn-block" style="text-align: left" type="submit">
                    Download BED files with metadata
                  </button>
                </form>
              </li>
              <li>
                <form action="/api/v1/specific/?format=tgz" method="post">
                  <input name="summary" value="true" type="hidden" />
                  <input name="all" value="true" type="hidden" />
                  <input name="filetype" value="fasta" type="hidden" />
                  {% for key, value in params %}
                  <input name="{{ key }}" value="{{ value }}" type="hidden" />
                  {% endfor %}
                  <button class="btn btn-info btn-flat btn-block" style="text-align: left" type="submit">
                    Download FASTA files with metadata
                  </button>
                </form>
              </li>
            </ul>
          </div>

          {% endif %}

        </div>

        {% if factors|length == 0 or factors == None %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <i class="icon fas fa-info"></i> Please use the above search box to find datasets of TFs you are interested in.
        </div>
        {% endif %}

        <div class="box-body">

          {% include "portal/pagination_size.html" %}

          {% include "portal/factor_summaries.html" with table_id="search_table" %}

          <span class="pull-left">
            Showing <b>{{ factors|length }}</b> records in page <b>{{ factors.number }}</b>
            from <b>{{ factors.paginator.num_pages }}</b> pages
          </span>

          <ul class="pagination pull-right">

            {% if factors.has_previous %}
            <li><a href="?page={{ factors.previous_page_number }}{% for key, value in params %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-chevron-left" aria-hidden="true"></i> Previous</a></li>
            {% else %}
            <li class="disabled"><span><i class="fas fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}

            {% if factors.number|add:'-4' > 1 %}
            <li><a href="?page={{ factors.number|add:'-5' }}{% for key, value in params %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
            {% endif %}

            {% for i in factors.paginator.page_range %}
            {% if factors.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > factors.number|add:'-5' and i < factors.number|add:'5' %}
            <li><a href="?page={{ i }}{% for key, value in params %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if factors.paginator.num_pages > factors.number|add:'4' %}
            <li><a href="?page={{ factors.number|add:'5' }}{% for key, value in params %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
            {% endif %}

            {% if factors.has_next %}
            <li><a href="?&page={{ factors.next_page_number }}{% for key, value in params %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next <i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
            <li class="disabled"><span><i class="fas fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

  </div>
{% endif %}

{% endblock %}

{% block javascript %}

  <script type="text/javascript">
    /* Update the results when changing selected values. */
    $("#quick_search select.form-control").change(function() {
      $("#quick_search").submit();
    });
    $("#quick_search input[type='checkbox']").change(function() {
      $("#quick_search").submit();
    });
  </script>

  <script type="text/javascript">
    $('#fill').click(
      function(){
        $('#scan_sequence').val($(this).val());
        }
      );

    $("#page_size").change(function() {
      $("#page_size_form").submit();
      });
  </script>

  {% include "portal/tour.html" %}

{% endblock %}

{% block datatable %}

  <script>
    $(function () {
      $('#search_table').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
       // "ordering": true,
        "info": false,
        "autoWidth": true,
        "bProcessing": true,
        "bScrollInfinite": true,
        "fixedHeader": false,
        "bLengthChange": false,

        //'select': {
         //     style:    'multi+shift',
             // selector: ':first-child'
         // },

        //"lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "searchHighlight": true,
        "order": [[ 0, "asc" ]],
        "responsive": true,
        //"sScrollY": "100%",

        "oLanguage": {
                       "sSearch": "Filter:",
                       "sLengthMenu": "Display _MENU_ datasets",
                     },
        'dom': 'lfrtipB',
          'buttons': [
          'copy', 'csv'
             ],
        });
      });
  </script>

{% endblock %}
