        <p><b>UniBind</b> is a comprehensive map of direct transcription
        factor (TF) – DNA interactions in the genome for nine different
        species. These interactions were obtained from thousands of ChIP-seq
        data sets obtained from

        <a href="https://academic.oup.com/nar/article/46/D1/D267/4602873"
           target="_blank">ReMap</a>

        and

        <a href="http://gtrd.biouml.org/" target="_blank">GTRD</a>.

        From these resources, we obtained MACS2-called peaks. Next, these
        genomic regions were analysed with

        <a href="https://github.com/sx-ruan/DAMO"
           target="_blank">DAMO</a>-optimized

        Position Weight Matrices (PWMs) to predict direct TF-DNA interactions.
        An entropy-based algorithm was used on the best subsequence per peak
        to automatically delineate an enrichment zone containing direct TF –
        DNA interactions, supported by both strong computational evidence and
        strong experimental evidence. Finally, all peaks that did not fall
        within the enrichment zone were rescanned to detect any subsequence
        different from the best one that would fall within the enrichment
        zone.</p>

        <p>Datasets in UniBind are separated into robust and permissive
        collections based on two quality control metrics. First, we filtered
        out datasets where the DAMO-optimized TF binding motif was not similar
        to the expected canonical motif. Second, we filtered out datasets
        where TFBSs are not enriched around their summits. Datasets satisfying
        both criteria were classified as part as the robust collection, while
        the rest were classified as part of the permissive collection.</p>

        <p>The UniBind database hosts the complete set of TFBS predictions, as
        well as the prediction model itself and cis-regulatory modules derived
        from these direct TF – DNA interactions. All the data is publicly
        available. For further details, please refer to the associated
        publications:

	{% include "portal/citations.html" %}
