{% load static %}

  <div class="col-md-8">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-info-circle"> </i> About UniBind TFBS extraction</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

        </div>
      <!-- /.box-header -->
      <div class="box-body">

        <p>The

        <a href="https://bitbucket.org/CBGR/unibind_tfbs_extraction/"><em>UniBind TFBS extraction tool</em></a>

        allows the extraction of TFBSs from the

	<a href="https://{{ request.get_host }}">UniBind</a>

        database within a set of genomic regions of interest provided as a BED file.</p>

        <p> Optionally, the tool also allows for the filtering of the results with either a set of transcription factors or experiment IDs. These can be provided as separate files containing one entry per line. Please note that TFs should be provided as gene symbols.</p>

      </div>
      <!-- /.box-body -->
    </div>

    <!-- /.box -->

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-folder-open"> </i> TFBS extraction tool output and example</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body">

        <h4 id="output">Output</h4>

        <p>The output of the extraction tool is a BED file with the TFBSs overlapping with the input regions. When a list of TFs and/or experiment lists is provided, the output file will only contain TFBSs for the TFs/experiments described in the input lists.</p>

        <h4 id="example">Example</h4>

        <p>As an example of application, we provide example BED, TFs and experiment files in our <a href="https://bitbucket.org/CBGR/unibind_tfbs_extraction/">bitbucket repository</a>. The tool can also be run from its command-line interface with the following command: </p>

        <pre>extract_TFBSs_bedtools_gzip.sh -i INPUT BED -b GZIPPED BED [-t TFs] [-e EXPERIMENT IDs] [-o OUTPUT DIR]</pre>

        <p>When running the command-line interface, the output is printed to standard output when no output directory is specified.</p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
