{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    UniBind TFBS extraction
{% endblock %}

{% block meta %}
  {% if processing %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
{% endblock %}

{% block content_header %}
 UniBind TFBS extraction
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">TFBS extraction</li>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-12">
      <div class="box box-success {% if form.data.filtering %}collapsed-box{% endif %}">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fas fa-image"></i> TFBS extraction results</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"
              aria-expanded="{% if form.data.filtering %}false{% else %}true{% endif %}">
              <i class="fas {% if form.data.filtering %}fa-plus{% else %}fa-minus{% endif %}"></i></button>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div class="alert alert-info alert-dismissible">
            <i class="fas fa-info-circle"></i> Here are the results for your TFBS extraction job and their URL which you can save and share with colleagues.
            Please download the results archive as we keep results only for
            {{days}} days on our server.
          </div>

          <table class="table table-striped table-hover">
            <tr>
              <th>UniBind command with parameters:</th>
              <td width="75%"> <code>{{ job.parameter }}</code></td>
            </tr>
            <tr>
              <th>Analysis name/title:</th>
              <td>{{ job.name }}</td>
            </tr>
            <tr>
              <th>Job status:</th>
              <td>{{ job.job_status }}</td>
            </tr>
            <tr>
              <th>Date and time:</th>
              <td>{{ job.created_at }}</td>
            </tr>
            <tr>
              <th>Results URL:</th>
              <td><a href="{{ request.build_absolute_uri }}"> {{ request.build_absolute_uri }}</a></td>
            </tr>
          </table>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

  {% if job.job_status == 'Completed' and not job.deleted_at == None %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-failure">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          These results are deleted from the server!
        </div>
      </div>
    </div>
  </div>

  {% elif job.job_status == 'Stopped' %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-failure">
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          This job failed during processing. Please check <a href="/temp/{{ extraction_id }}/unibind_stderr_log.txt" target="_blank">error log</a> or <a href='/contact-us'> contact us</a> with the job URL: {{ request.build_absolute_uri }}
        </div>
      </div>
    </div>
  </div>

  {% elif processing %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <p class="lead">Please wait, UniBind TFBS extraction is running
        <img src="{% static 'img/ajax-loader.gif' %}"></p>
      </div>
    </div>
  </div>

  {% else %}

  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">View and download extraction results</h3>
        </div>
        <div class="box-body">

          <p>Download the results.</p>

          <p><a href="/temp/{{ extraction_id }}/extraction_results.bed">
               <button type="button" class="pull-right btn btn-success">
               <i class="fas fa-download"></i> Download Extraction Results</button></a>
          </p>

        </div>
      </div>
    </div>

  </div>

  {% endif %}


{% endblock %}
