{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
UniBind TFBS extraction
{% endblock %}

{% block content_header %}
UniBind TFBS extraction
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">TFBS extraction</li>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-4">

    <div class="box box-success">
      <div class="box-header with-border">
        <i class="fas fa-upload"></i>
        <h3 class="box-title">Upload your BED file(s)</h3>
      </div>
      <div class="box-body">

        <p>Note: All input files should provide genomic regions in

        <a href="https://genome.ucsc.edu/FAQ/FAQformat.html#format1"
           target="_blank">BED file</a>

        format corresponding to appropriate species genome versions.</p>

        {% if message %}
        <div class="alert alert-{{ message_type }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endif %}

        <form id="TFBS_extraction_form" action="/TFBS_extraction/" method="post" enctype="multipart/form-data">
          {% csrf_token %}

        <div class="form-group">

        {{ form | bootstrap }}

        </div>

	  <p><span class="label label-warning">Note</span> An e-mail address is
	  optional and will only be used to send notifications about analysis
	  results.</p>

          <div class="form-group">
            <div class="box-footer clearfix">
              <button type="submit" class="pull-right btn btn-success"
                      name="performTFBSextraction" id="performTFBSextraction">Run
                      TFBS extraction <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include "portal/TFBS_extraction_about.html" %}

</div>

{% endblock %}
