  <!-- UniBind tour stages. -->

  <script type="text/javascript">
    var tour = {
      id: 'unibind-home',
      showPrevButton: true,
      scrollDuration: 700,
      steps: [
        {
          title: 'Welcome to UniBind',
          content: 'UniBind is a comprehensive map of direct TF-DNA interactions across species.',
          target: 'unibind-search',
          placement: 'bottom',
          xOffset: "center",
          arrowOffset: "center",
          onNext: function() {
            $('#unibind-search').val('{{ tour_example.label }}');
          }
        },

        {
          title: 'Search UniBind database by species',
          content: "You can navigate to relevant UniBind data by selecting a particular species.",
          target: 'unibind-species',
          placement: 'top',
        },

        {
          title: 'Search UniBind database by keyword',
          content: "You can search UniBind by TF name or dataset identifiers or any other keyword.",
          target: 'unibind-search',
          placement: 'bottom',
          multipage: true,
          onNext: function() {
            window.location = '{{ tour_example.url }}';
          }
        },

        {
          title: 'Search results table',
          content: 'A list of datasets found for your search criteria.',
          target: 'search_table',
          placement: 'top',
          xOffset: "center",
          arrowOffset: "left",
          onPrev: function() {
            window.location = '/';
          }
        },

        {
          title: "Download result set",
          content: "Download summaries, data files, or show using the API browser.",
          target: "download_actions",
          placement: "left",
        },

        {
          title: "View details",
          content: "View a detailed summary and download data.",
          target: "factor_summary",
          placement: "top",
          multipage: true,
          onNext: function() {
            window.location = '{{ tour_example.url }}';
          }
        },

        {
          title: 'Data Summary',
          content: 'A detail summary of TF and dataset.',
          target: 'profile-detail',
          placement: 'right',
          arrowOffset: "left",
          onPrev: function() {
            window.location = '{{ tour_example.url }}';
          }
        },

        {
          title: 'Model predictions',
          content: 'View/Download predicted TFBSs and summary plots.',
          target: 'detailTabs',
          placement: 'top',
        },

        {
          title: "Statistical details",
          content: "ChIP-seq centrality, number of TFBSs, and more info.",
          target: "statistical-details",
          placement: "top",
          xOffset: "center",
          arrowOffset: "center",

        },

        {
          title: "Related datasets",
          content: "Datasets for the TF in other cell-types/tissues.",
          target: "similar-datasets",
          placement: "top",
          xOffset: "center",
          arrowOffset: "center",

        },

        {
          title: "Thanks!",
          content: "Thanks for taking the UniBind tour. You can read more about UniBind <a href='/about'>here</a>.",
          target: "demo-end",
          placement: "bottom",
          xOffset: "center",
          arrowOffset: "center"
        }
      ]
    }

    /* Invoke the tour when traversing pages. */

    /* Index page. */

    if (hopscotch.getState() === "unibind-home:2") {
      hopscotch.startTour(tour, 2);

    /* Search page. */

    } else if (hopscotch.getState() === "unibind-home:3") {
      hopscotch.startTour(tour, 3);
    } else if (hopscotch.getState() === "unibind-home:4") {
      hopscotch.startTour(tour, 4);
    } else if (hopscotch.getState() === "unibind-home:5") {
      hopscotch.startTour(tour, 4);
    }

    /* Factor detail page. */

    else if (hopscotch.getState() === "unibind-home:6") {
      hopscotch.startTour(tour, 6);
    }

  </script>
