/* Attempt to fix undesirable choices in bootstrap-tweaks. */

body, .swagger-ui {
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  clear: both;
  z-index: 10;
  height: 60px;
  width: 100%;
  margin: 0;
}

.footer {
  background-color: #f5f5f5;
}

footer p {
  text-align: center;
  margin: 20px 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
