{% extends 'portal/base.html' %}

{% load static %}

{% block content %}

<br><br>
<br>

<div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.
          </p>

          <form id="quick_search" method="get" action="/search">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" autocomplete="off" name="q" id="q" placeholder="What are you searching for?" data-toggle="tooltip" data-placement="bottom" title="You can search for gene of interest, JASPAR ID."/> 
                      <span class="input-group-btn">
                        <button class="btn btn-primary btn-flat" type="submit">Search <i class="fas fa-search"></i></button>
                      </span>
                </div> 
                  <div class="form-group">                                     
                    <b>Examples:</b> <a href="/search?q=SRF">SRF</a>,
                    <a href="/search?q=K562"> K562</a>,
                    <a href="/search?q=ENCODE"> ENCODE</a>,
                    <a href="/search?q=ENCSR000BLV"> ENCSR000BLV</a>,
                    <a href="/search?q=MA0492.1"> MA0492.1</a>
                  </div>
                </form>
        </div>
        <!-- /.error-content -->
</div>

{% endblock content %}
