{% extends 'portal/base.html' %}

{% load static %}

{% block content %}

<div class="error-page">
        <h2 class="headline text-red">503</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-red"></i> Under maintenance</h3>

          <p>
            UniBind is down due to maintenance. We will be back shortly.
          </p>

         
        </div>
</div>

{% endblock content %}
