{% extends "restapi/api.html" %}
{% load static %}

{# Provide the necessary elements to insert the Django REST Swagger API
   inspector into the page, replacing the default API content. #}

{% block style %}
{{ block.super }}
<link href="{% static 'rest_framework_swagger/bundles/vendors.bundle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'rest_framework_swagger/bundles/app.bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block bodyclass %}swagger-section{% endblock %}

{% block content %}
<div class="swagger-ui">
  <div id="rest-swagger-ui"></div>
  {% csrf_token %}

  <script>
    window.drsSettings = {{ drs_settings|safe }};
    window.drsSpec = {{ spec|safe }};
  </script>
  <script src="{% static 'rest_framework_swagger/bundles/vendors.bundle.js' %}"></script>
  <script src="{% static 'rest_framework_swagger/bundles/app.bundle.js' %}"></script>
</div>
{% endblock %}
