{% extends "restapi/api.html" %}
{% load i18n %}

{# Provide the API home content, replacing the default API inspector with some
   descriptive text. #}

{% block content %}
<div class="content-main" role="main"  aria-label="{% trans "main content" %}">
<div class="jumbotron">
  <h1 class="display-3" align="center">{<font style="color:#19b491"><b>UniBind</b></font> RESTful API}</h1>
  <p class="lead" align="center">
  {% include "restapi/description.html" %}
  </p>

  <p align="center"><a class="btn btn-lg btn-success" href="/api/v1/datasets" role="button">Try it Now</a>
  <a class="btn btn-lg btn-info" href="/api/v1/live-api/" role="button">Live API</a>
  </p>
</div>

<div class="panel panel-info">
  <div class=panel-heading>
    <h3 class=panel-title><i class="icon fas fa-globe"></i> Read more about UniBind and the UniBind RESTful API</h3>
  </div>
  <div class=panel-body>
    <ul>
    <li>Gheorghe M, Sandve GK, Khan A, Cheneby J, Ballester B, Mathelier A.
    A map of direct TF-DNA interactions in the human genome, Nucleic Acids Res. 2018, doi:
    <a href="https://doi.org/10.1093/nar/gky1210" target="_blank">10.1093/nar/gky1210</a>
    </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
