This API provides an easy-to-use REST web interface to query/retrieve data
from the UniBind database. The API comes with a human browsable interface and
also a programmatic interface which return the results in different formats,
including <code>json</code>, <code>jsonp</code>, <code>yaml</code>,
<code>bed</code>, and also <code>api</code> for a browsable interface.
